/* Variables */
$color-main: #ff5e57;
$color-light: #fff;

/* Global */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 1.6rem;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 108px;
}

.section-title {
  position: relative;
  font-size: 36px;
  margin: 0 0 60px 0;
}

.section-title::after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 50%;
  width: 50px;
  height: 10px;
  transform: translateX(-50%);
  background-color: $color-main;
}

/* Splash */
.splash {
  height: 100vh;
  position: relative;
  background-image:         /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url("/images/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash i {
  font-size: 30px;
  background: $color-main;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
}

.page-title {
  color: $color-light;
  font-size: 60px;
  margin: 48px 0 0 0;
}

.page-title::after {
  position: absolute;
  content: "";
  bottom: 72px;
  left: 50%;
  width: 250px;
  height: 10px;
  transform: translateX(-50%);
  background-color: $color-main;
}

.page-subtitle {
  color: $color-light;
  font-size: 18px;
  margin: 48px 0 0 0;
}

/* Intro */
.intro {
  background: $color-light;
}

.intro p {
  width: 70%;
  margin: 0 auto;
  font-size: 24px;
  padding: 48px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* About */
.about {
  background: #f0f0f0;
}

/* gallery */

.gallery .images {
  display: flex;
  max-width: 1600px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  padding: 10px;
}

.gallery img:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* contact */
h2 {
  text-align: center;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
textarea {
  resize: none;
  height: 100px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #0056b3;
}
@media (max-width: 480px) {
  .container {
    padding: 15px;
  }
}

/* Footer */
.page-footer {
  background-color: #242424;
  color: $color-light;
  font-size: 16px;
  padding: 10px;
}
